@import "tailwindcss";

.font-supermercado {
  font-family: "Supermercado One", sans-serif;
}

:root {
  font-family: "Alan Sans", sans-serif;

  background-color: #eee6d9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
